{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1 class="page-header">Admin Users</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover uiDataTables" >
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Date Joined</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for admins in all_admin_users %}
                    <tr>
                        <td>{{admins.Name}}</td>
                        <td>{{admins.Email}}</td>
                        <td>{{admins.Phone}}</td>
                        <td>{{admins.username}}</td>
                        <td>{% if admins.Active %}Active{% else %} Inactive{% endif %}</td>
                        <td>{{admins.DateAdded}}</td>
                        <td>{% if admins.Active %} <a href="/shajgoj/change_admin_status/?id={{admins.id}}" class="btn btn-danger" role="button">Deactivate</a> {% else %} <a href="/shajgoj/change_admin_status/?id={{admins.id}}" class="btn btn-success" role="button">Activate</a> {% endif%}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {% if wrong %}
    <div class="alert alert-danger alert-dismissable">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <p align="center">{{ text }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}